:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.table-modern{
  padding: 20px;
}
.table-modern thead{
  position: sticky;
  top: 0;
  background-color: #ffffff;
  /* color: #fff; */
}

.table-modern tbody tr:hover{
  background-color: aliceblue;
}

.form-modern{
  margin-bottom: 30px;
  margin-top: 30px;
  /* border-collapse: collapse; */
}
.boton{
  width: 283px;
}
.listado{
  max-height: calc(70vh - 140px);
  overflow: auto;
}
.formaBuscador{
  display: flex;
}
.formulario{
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablaColaboradores tr{
  font-size: 12px;
}
.tablaColaboradores{
  padding: 4px;
}
.contenedor_lista{
  max-height: calc(50vh - 140px);
  overflow-y: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #315c86;
    color: #ffffff;
    border-radius: 2px;
    border-color: #315c86;
  }

  @media (max-width: 768px) {
    .tablaColaboradores{
      max-width: calc(100vh-140);
    }
    
  }
}
